*.asm
*.bmk
*.ini
*.brk
*.cp
*.dct
*.dlt
*.log
*.dic
*.wch
mcu-files/C64MultiKernel.mcppi_callertable.txt
*.mcl
*.lst
*.dbg
Thumbs.db
*.kicad_pcb-bak
*.sch-bak
*.bak
KiCad_shortboard/gerber/*
KiCad_longboard/gerber/*
*.zip
*.o
*.elf
*.lss
*.map
*.hex
.DS_Store
.cproject
.dep/
.project
.settings/
main.eep
main.sym
